<!DOCTYPE html>
<!-- http://localhost:8080/list -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <!-- user.size()==0 -->
    <!-- user.isEmpty() -->
    <div th:if="${users.isEmpty()}" th:text="${'No tiene elementos usuarios!'}"></div>

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:if="${not (user.email!=null)}" th:text="${' - '}"></td>
            </tr>
        </tbody>


    </table>
</body>
</html>